<div>

  <!-- <div class="my-awana-top-logo"><img src="..\src\Capture1.PNG"/></div> -->

<!-- left side of page -->
<div class="left-side-login">
  <h3 style="margin-top:50px">Login</h3>
  
    <input class="login-input" type="text" [(ngModel)]="userName" placeholder="    Email" />
    <br>
    <input class="login-input" type="password" [(ngModel)]="password" placeholder="    Password" />
    <br>
    <input type="checkbox"/><span>Keep me signed in</span>
    <br>
    <input class="login-button" type="button" value ="Login" (click)="loginauth()"/>

</div>



</div>