<div style="height:500px;width:300px;">
  <label>product works!</label>
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form> -->
  

  <p-dataGrid [value]="cars" [paginator]="true" [rows]="6">
    <ng-template let-car pTemplate="item">
        <div class="ui-g-12 ui-md-3">
            data
        </div>
    </ng-template>
</p-dataGrid>

  <button pButton type="button" label="Click"></button>
  <button pButton type="button" label="Success" class="ui-button-success"></button>
  <!-- angular material used -->
  <section class="example-section">
    <mat-checkbox  class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
  </section>
</div>
